services:
  postgres:
    image: postgres:15-alpine
    container_name: smart-expense-db
    environment:
      - POSTGRES_DB=expensedb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres-data:
